name: Test

on:
  pull_request:
    branches: ['main'] # runs only when trying to merge into main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - uses: pnpm/action-setup@v2
        with:
          version: 10

      - run: pnpm install
      - run: pnpm run generate:types
      - run: pnpm run generate:importmap
      - run: pnpm clean && pnpm build
      - run: pnpm run test:int
